<?xml version="1.0" encoding="UTF-8"?>
<openerp>
   <data>

                 <menuitem
            name='PR1 Exchange Setup'
            id='root_a_d_s' groups="g_pr1_exchange_contact_grp_adm"
            parent='base.menu_administration'/>
       <!--
      
     <record model="ir.actions.act_window" id="a_pr1_exchange_contact_a_d">
	        <field name="name">All A_D</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">pr1_exchange_contact.a_d</field>
	        <field name="domain"></field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
     </record>  
     <menuitem id="pr1_exchange_contact_m_a_d" 
         name="A_D" 
         action="a_pr1_exchange_contact_a_d" 
         parent="root_a_d_s" 
         groups="g_pr1_exchange_contact_grp_adm"
         sequence="10"/>

     <record model="ir.actions.act_window" id="a_pr1_exchange_contact_c_l_p">
	        <field name="name">All C_L_P</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">pr1_exchange_contact.c_l_p</field>
	        <field name="domain"></field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
     </record>      
      
     <menuitem id="pr1_exchange_contact_m_c_l_p" 
         name="C_L_P" 
         action="a_pr1_exchange_contact_c_l_p" 
         parent="root_a_d_s" 
         groups="g_pr1_exchange_contact_grp_adm"
         sequence="20"/>
         
     <record model="ir.actions.act_window" id="a_pr1_exchange_contact_c_l_u">
	        <field name="name">All C_L_U</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">pr1_exchange_contact.c_l_u</field>
	        <field name="domain"></field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
     </record>      
      
     <menuitem id="pr1_exchange_contact_m_c_l_u" 
         name="C_L_U" 
         action="a_pr1_exchange_contact_c_l_u" 
         parent="root_a_d_s" 
         groups="g_pr1_exchange_contact_grp_adm"
         sequence="30"/>       
         
     <record model="ir.actions.act_window" id="a_pr1_exchange_contact_c_l">
	        <field name="name">All C_L</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">pr1_exchange_contact.c_l</field>
	        <field name="domain"></field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
     </record>      
      
     <menuitem id="pr1_exchange_contact_m_c_l" 
         name="C_L" 
         action="a_pr1_exchange_contact_c_l" 
         parent="root_a_d_s" 
         groups="g_pr1_exchange_contact_grp_adm"
         sequence="40"/>
         
      -->
         
          <record id="action_exchange_setup_menu" model="ir.actions.act_window">
            <field name="name">Setup Exchange</field>
            <field name="res_model">pr1_exchange_contact.settings</field>
            <field name='view_type'>form</field>
            <field name='view_mode'>tree,form</field>
        </record>
           <menuitem
           name="Exchange Connection Setup"
            action='action_exchange_setup_menu'
            id='menuitem_action_exchangesetup_menu'
            parent='root_a_d_s'
            sequence='5' />   
      
   </data>
</openerp>
